* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: gray;
    overflow: hidden;
}

.title {
    background-color: #9932CC;
    color: white;
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.form-container {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 30vh;
    margin: 0 20px;
    padding: 20px;
}

.en {
    background-color: aliceblue;
    margin: 0 20px;
    text-align: center;
    padding: 10px;
    font-weight: bold;
}

.line {
    border-bottom: 6px solid lawngreen;
    border: collapse;
    margin: 0 20px;
}

.form-group {
    width: 100%;
    display: flex;
    align-items: center;
}

.label {
    display: inline-block;
    width: 150px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-size: 18px;
}

.gender-label {
    display: inline-block;
    margin: 0 15px 0 5px;
}

.input {
    width: 250px;
    margin-bottom: 10px;
    padding: 6px;
    border-radius: 7px;
    border: 1px solid rgba(81, 160, 252, 0.479);
}

.input:hover {
    border: 1px solid rgb(255, 91, 91);
}

.program {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading {
    margin: 10px;
    padding: 10px;
    background-color: aquamarine;
    border-left: 10px solid green;
    border-radius: 10px;
}

.details {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #8FBC8F;
    margin: 10px;
    border-left: 10px solid black;
    border-radius: 10px;
}

.details:hover {
    transform: translateX(5px);
    background-color: #F5FFFA;
}

.summary {
    font-weight: bold;
}

.content {
    background-color: white;
    margin: 10px;
}

.quote {
    margin: 10px;
    padding: 10px;
    background-color: bisque;
    border-left: 10px solid black;
    border-radius: 10px;
    overflow: hidden;
}

.quote-text {
    animation: scroll 15s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

.chat-button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: rgb(53, 66, 245);
    padding: 10px;
    border-radius: 10px;
    color: wheat;
}